/* -------------------------------------- RESET */
*,*::before,*::after{box-sizing: border-box; padding: 0; margin: 0;}
a{color: inherit; text-decoration: none;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: inherit; font-size: inherit;}
html,body{height: 100%;}
/* -------------------------------------- ROOT */
:root{
  --index: calc(1vw + 1vh);
  --color-black: #000;
  --color-white: #efecd1;
}
/* -------------------------------------- CONTAINER */
[class*=__container]{
  max-width: 77rem;
  padding: 0 1rem;
  margin: 0 auto;
}
@font-face {
  font-family: 'Raleway';
  src: url('./BLL/fonts/raleway-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./BLL/fonts/raleway-black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}